<form action="" method="POST">
    <div class="mb-3">
        <label for="nazwa" class="form-label">Miejsce</label>
        <input type="text" class="form-control" name="miejsce" id="miejsce">
    </div>

    <div class="mb-3">
        <label for="cena" class="form-label">Miasto</label>
        <input type="text" class="form-control" name="miesto" id="miasto">
    </div>

    <div class="mb-3">
        <label for="ilosc" class="form-label">Opis</label>
        <input type="text" min="20" max="1000" class="form-control" name="opis" id="opis">
    </div>

    <div class="mb-3">
        <label for="cena" class="form-label">Koordynaty</label>
        <input type="text" class="form-control" name="koordynaty" id="koordynaty">
    </div>

    <div class="mb-3">
        <label for="cena" class="form-label">KrajPochodzenia</label>
        <input type="text" class="form-control" name="krajpochodzenia" id="krajpochodzenia">
    </div>

    <div class="mb-3">
        <label for="cena" class="form-label">Kategoria</label>
        <select class="form-control" name="kategoria" id="kategoria">
            <option value="ubrania">Nocleg</option>
            <option value="zabawki">Zwiedzanie</option>
            <option value="sztuka">Miejsca Nietypowe</option>
            <option value="ubrania">Zabawa</option>
            <option value="ubrania">Relaks</option>
            <option value="ubrania">Jedzenie</option>
        </select>
    </div>

    <div class="mb-3">
        <label for="cena" class="form-label">DataDodania</label>
        <input type="date" class="form-control" name="datadodania" id="datadodania">
    </div>

    <div class="mb-3">
        <label for="cena" class="form-label">LinkZdjecia</label>
        <input type="text" class="form-control" name="linkzdjecia" id="linkzdjecia">
    </div>

    <div class="text-center mb-3">
        <button class="btn btn-lg btn-primary">Dodaj</button>
    </div>
    <div class="text-center">
        <a href="/">Powrót</a>
    </div>
</form>

